<div class="container container-fluid bg-light text-center w-50">
<h1>Edit result</h1>
<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
  </div>
</div>
